<!DOCTYPE html>
<html>
<head>
    <title>LEC 2023 Top 8 Prediction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/foldy.css">
    <script async defer data-website-id="{{umamiKey}}" src="{{umamiUrl}}"></script>
</head>
<body>
    <header>
        <h2>LEC 2023 Winter Foldy Sheet</h2>
    </header>
    <h4>Current Standings</h4>
    <table>
        <thead>
            <tr>
                {{#remainingGames}}
                <th>
                    <label for="{{id}}blue">
                        <input type="radio" name="{{id}}result" id="{{id}}blue" value="{{blue.short}}">
                        {{blue.short}}
                    </label>
                    <label for="{{id}}draw">
                        <input type="radio" name="{{id}}result" id="{{id}}draw" value="draw">
                        Draw
                    </label>
                    <label for="{{id}}red">
                        <input type="radio" name="{{id}}result" id="{{id}}red" value="{{blue.red}}"">
                        {{red.short}}
                    </label>
                </th>
                {{/remainingGames}}
                <th>Tied</th>
                <th>Out</th>
            </tr>
        </thead>
        <tbody>
        {{#scenarios}}
            <tr class="overview" id="{{key}}">
                {{#results}}
                <td>{{short}}</td>
                {{/results}}
                <td>
                    {{#tied}}<p>{{.}}</p>{{/tied}}
                    {{^tied}}-{{/tied}}
                </td>
                <td>
                    {{#out}}<p>{{.}}</p>{{/out}}
                    {{^out}}-{{/out}}
                </td>
            </tr>
            <tr class="detail-table">
                <td colspan={{colspan}}>
                    <table class="standings">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Team</th>
                                <th>Record</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#table}}
                            {{#team}}
                            <tr>
                                <td class="{{result}} tight">{{position}}</td>
                                <td><a href="/teams/{{short}}"><img src="{{{logo}}}" alt="{{name}} Logo" />{{name}}</a></td>
                                <td>{{wins}} - {{losses}}</td>
                            </tr>
                            {{/team}}
                        {{/table}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/scenarios}}
        </tbody>
    </table>
    {{> footer}}
    <script src="/index.js"></script>
    <script src="/foldy.js"></script>
</body>
</html>