<section>
    <a href="/">Overview</a>
</section>
<footer>
    <p>Made with ❤ in Berlin by <a href="https://jonas.grunert.berlin">Jonas Grunert</a> in 2022. <a href="https://github.com/jonasgrunert/lec-2023-top8">Source</a></p>
    <p>LEC 2023 Top 8 Prediction was created under <a href="https://www.riotgames.com/en/legal">Riot Games' "Legal Jibber Jabber" policy</a> using assets owned by Riot Games.  Riot Games does not endorse or sponsor this project.<p>
    <p>The data for this project was pulled from <a href="https://lol.fandom.com/wiki/League_of_Legends_Esports_Wiki">Leaguepedia</a> under the use of the <a href="https://www.fandom.com/licensing">CC BY-SA 3.0 license</a>.</p>
</footer>
