<!DOCTYPE html>
<html>
<head>
    <title>LEC 2023 Top 8 Prediction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/main.css">
    <script src="/index.js"></script>
    <script async defer data-website-id="{{umamiKey}}" src="{{umamiUrl}}"></script>
</head>
<body>
    <header>
        <h2>LEC 2023 Top 8</h2>
    </header>
    <section>
        <p>This website shows how all the teams in the LEC for the 2023 performed in the 16 single round robins since the LECs inception and franchising. Based on this infromation we determine if and how they would have progressed to the round of the Top 8 in the new LEC format starting in 2023.</p>
    </section>
    <h4>Teams</h4>
    <section class="teams">
        {{#teams}}
        <a href="/teams/{{info.short}}">
            <figure>
                <img src="{{info.logo}}"
                    alt="Team logo of {{name}}">
                <figcaption>{{info.short}}</figcaption>
            </figure>
        </a>
        {{/teams}}
    </section>
    <h4>Splits</h4>
    <section class="splits">
        {{#splits}}
        <a href="/splits/{{name}}">
            <p>{{year}} {{split}} {{half}}</p>
        </a>
        {{/splits}}
    </section>
    {{> footer}}
</body>
</html>